body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: url("./../images/research.jpg") no-repeat center center fixed;
  background-size: cover;
}
header,
footer {
  background: rgba(51, 51, 51, 0.8);
  color: #fff;
  padding: 1em 0;
  text-align: center;
}
nav {
  background: rgba(68, 68, 68, 0.8);
  color: #fff;
  padding: 0.5em;
  text-align: center;
}
nav a {
  color: #fff;
  padding: 0 1em;
  text-decoration: none;
}
.container {
  padding: 2em;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
.section {
  margin-bottom: 2em;
}
.section h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 0.5em;
}
.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.gallery img {
  height: 200px; /* встановіть бажану висоту */
  object-fit: cover; /* зберігає пропорції зображення */
  object-position: center;
  margin: 10px;
}
.video {
  iframe {
    width: 70%;
    aspect-ratio: 16 / 9;
  }
}
/* * {
            outline: green solid 4px;
        } */
@media (max-width: 1480px) {
  .gallery img {
    width: 400px;
  }
  .video {
    iframe {
      width: 100%;
      aspect-ratio: 16 / 9;
    }
  }
}
